@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* declaring variables for colors that will be used repeatedly */
:root{
    --yellow: #f9ca24;
    --black: #111111;
    --blue: rgb(0, 172, 255);
    --grey: #333;
}

*{
    font-family: 'Open Sans', 'Segoe UI', 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

::selection{
    background: var(--yellow);
    color: var(--grey);
}

html{
    /* setting default font size for the html document. Default is 16px. So 62.5% means 10px */
    font-size: 62.5%;
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 1.5rem;
}
   
/* scrollbar color and border radius */
::-webkit-scrollbar-thumb {
    background: var(--yellow); 
    border-radius: 1rem;
}
  
/* scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bd9a1d; 
}

body{
    font-size: 1.8rem;
    line-height: 1.5;
    background: var(--black);
    color: white;
    /*disabling horizontal scroll*/
    overflow-x: hidden;
    margin: 1%;
}

header{
    position: fixed;
    width: 25%;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #1a1a1a;
    transition: all 400ms ease-in-out;
}

.mylogo{
    height: 48%;
    width: 48%;
    border-radius: 50%;
    border: 0.7rem solid var(--yellow);
    display: block;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

.user h1{
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
}

.user h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8%;
    font-weight: normal;
}

#navbar ul{
    margin: auto;
    text-align: center;
    width: 85%;
}

#navbar li{
    margin: 7%;
    list-style: none;
}

#navbar a{
    text-decoration: none;
    background: var(--grey);
    padding: 3%;
    display: block;
    color: var(--yellow);
    font-weight: bold;
    font-size: 2rem;
    border-radius: 3rem;
    transition: color 400ms ease-in-out;
    transition: background-color 400ms ease-in-out;
}

#navbar a:hover{
    background-color: var(--yellow);
    color: var(--black);
}

#hamburger{
    position: fixed;
    display: none;
    z-index:1000;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    color: #fff;
    background: #666;
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
}

section {
    min-height: 100vh;
    margin-left: 28%;
    padding: 1% 3%;
    transition: all 400ms ease-in-out;
}

#Home{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Home > h3{
    color: var(--yellow);
    font-size: 3.5rem;
}

#Home > h1{
    font-size: 4.5rem;
}

#About_Me h1{
    text-align: center;
    font-size: 4rem;
    color: var(--yellow);
    border-bottom: 1px solid #666;
    margin-bottom: 2rem;
}

.textyellow{
    color: var(--yellow);
    padding-left: 1%;
}

.my_details p{
    padding-bottom: 1%;
    font-size: 2rem;
}

.lang_grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid_item1{
    background: #222;
    margin: 1%;
    border-radius: 1rem;
    height: 10rem;
    width: 20rem;
}

.lang_logo{
    height: 6rem;
    width: 6rem;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
}

.cont{
    margin: auto;
    background-color: var(--blue);
    width: 90%;
    border-radius: 1.5rem;
    margin-bottom: 5%;
}

.skill{
    background-color: var(--yellow);
    color: var(--black);
    font-weight: bold;
    border-radius: 1.5rem;
    height: 1.5rem;
}

#java{
    width: 90%;
}

#python{
    width: 85%;
}

#c{
    width: 80%;
}

#cpp{
    width: 70%;
}

#js{
    width: 60%;
}

#html{
    width: 85%;
}

#css {
    width: 75%;
}

#sql{
    width: 75%;
}

.btn{
    text-align: center;
    padding: 3%;
}

.btn_style{
    width: 20rem;
    height: 5rem;
    font-weight: bold;
    font-size: 2rem;
    background: var(--grey);
    border: none;
    border-radius: 4rem;
    transition: background-color 400ms ease-in-out;
}

.btn_style a{
    text-decoration: none;
    color: var(--yellow);
    transition: color 400ms ease-in-out;
}

.btn_style:hover{
    background-color: var(--yellow);
}

.btn_style:hover a{
    color: var(--black);
}

#Education h1{
    text-align: center;
    font-size: 4rem;
    color: var(--yellow);
    border-bottom: 1px solid #666;
}

.item2{
    padding: 2%;
    padding-bottom: 5%;
}

.item2 h4{
    color: var(--yellow);
    font-size: 3rem;
    
}

.item2 p{
    font-size: 1.9rem;
}

.item2 i{
    color: var(--blue);
    font-size: 5rem;
}

#My_Projects h1{
    text-align: center;
    font-size: 4rem;
    color: var(--yellow);
    border-bottom: 1px solid #666;
    margin-bottom: 2rem;
}

.projects_grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    background: var(--blue);
    border-radius: 2rem;
    text-decoration: none;
    margin-bottom: 2rem;
    color: var(--black);
    margin: 1.5%;
    width: 25rem;
    height: 22rem;
}

.project_image{
    height: 80%;
    width: 100%;
    object-fit: fill;
    border-radius: 1rem;
    transition: transform 500ms;
}

.project_image:hover{
    transform: scale(1.1);
}

.project_title{
    text-align: center;
    font-weight: bold;
}

.code{
    color: var(--black);
    transition: color 500ms;
}

.project:hover .code{
    color: var(--yellow);
}

#Contact h1{
    text-align: center;
    font-size: 4rem;
    color: var(--yellow);
    border-bottom: 1px solid #666;
    margin-bottom: 2rem;
}

form{
    text-align: center;
}

input{
    width: 70%;
    height: 3rem;
    padding: 1%;
    margin-bottom: 1.5rem;
    background: var(--grey);
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 0.6rem;
}

input:focus{
    outline: none;
    color: white;
}

textarea{
    width: 70%;
    height: 10rem;
    padding: 1%;
    background: var(--grey);
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 0.6rem;
}

textarea:focus{
    outline: none;
    color: white;
}

.contact_info{
    margin-top: 1%;
    text-align: center;
}

.social{
    text-decoration: none;
    margin: 3%;
}

.social svg{
    transition: transform 400ms ease-in-out;
    height: 5%;
    width: 5%;
}

.social:hover svg{
    transform: translateY(-1rem);
}

#send{
    margin: 1%;
}

/* 1200px */
@media (max-width: 75em){
    html{
        font-size: 60%;
    }
}

/* 980px */
@media (max-width: 61.25em){
    html{
        font-size: 55%;
    }

    header{
        position: fixed;
        left: -100rem;
        width: 30%;
    }

    #hamburger{
        display: block;
    }

    section{
        margin-left: 5%;
    }

    .project{
        margin: auto;
        margin-bottom: 10%;
    }

    .blur_effect {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }

    body{
        padding: 0;
    }
}

/* 460px */
@media (max-width: 28.75em){
    html{
        font-size: 50%;
    }

    #hamburger{
        display: block;
    }

    .lang_grid{
        width: 60%;
        text-align: center;
        margin: auto;
    } 

    header{
        width: 65%;
        padding: 3%;
    }

    section{
        margin-left: 5%;
        margin-right: 5%;
    }

    #About_Me{
        margin-bottom: 35%;
    }

    .grid_item1{
        margin: 5%;
    }

    .item2{
        padding-bottom: 10%;
    }

    #My_Projects{
        margin-bottom: 35%;
    }

    input{
        width: 90%;
        padding: 2%;
    }

    textarea{
        width: 90%;
        padding: 2%;
    }

    #send{
        margin: 5%;
    }

    .social svg{
        height: 10%;
        width: 10%;
    }
}